
<div class="inner cover">
  <h1 class="cover-heading">Welcome#index</h1>
  <p class="lead">
    Cover is a one-page template for building simple and beautiful home pages.
    Download, edit the text, and add your own fullscreen background photo to make it your own.
  </p>
  <p class="lead">
    <a href="http://getbootstrap.com/examples/cover/" class="btn btn-lg btn-default">Learn more</a>
  </p>
  <p>Find me in app/views/welcome/index.html.erb</p>
</div>